services:
  # Laravel App
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: thari_laravel_app
    restart: always
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8081:8000"
    environment:
      APP_NAME: Thari
      APP_ENV: local
      APP_DEBUG: true
      APP_URL: http://localhost:8081
      DB_CONNECTION: mysql
      DB_HOST: thari_mysql
      DB_PORT: 3306
      DB_DATABASE: saifsyn
      DB_USERNAME: root
      DB_PASSWORD: strongpassword
      REDIS_HOST: thari_redis
      SOCKET_URL: http://thari_socket_server:3000
    depends_on:
      - thari_mysql
      - thari_redis
      - thari_socket_server

  # MySQL
  thari_mysql:
    image: mysql:8.0
    container_name: thari_mysql
    restart: always
    environment:
      MYSQL_DATABASE: saifsyn
      MYSQL_ROOT_PASSWORD: strongpassword
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # Redis
  thari_redis:
    image: redis:alpine
    container_name: thari_redis
    restart: always
    ports:
      - "6379:6379"

  # Socket.IO Server
  thari_socket_server:
    image: node:18
    container_name: thari_socket_server
    working_dir: /socket-server       # <-- proper indentation
    volumes:
      - ./socket-server:/socket-server
    command: bash -c "npm install && npm run start"
    ports:
      - "3000:3000"
    restart: always

volumes:
  mysql_data:
