services:
  # Laravel App
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: arafat2025/saifsyn:latest
    platform: linux/amd64
    container_name: thari_laravel_app
    restart: always
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8081:8000"
    env_file:
      - .env
    environment:
      APP_NAME: Thari
      APP_ENV: local
      APP_DEBUG: true
      APP_URL: http://localhost:9958
      DB_CONNECTION: mysql
      DB_HOST: thari_mysql
      DB_PORT: 3306
      DB_DATABASE: saifsyn
      DB_USERNAME: root
      DB_PASSWORD: strongpassword
      REDIS_HOST: thari_redis
      SOCKET_URL: http://thari_socket_server:3015
    depends_on:
      - thari_mysql
      - thari_redis
      - thari_socket_server
  queue:
    image: arafat2025/saifsyn:latest
    platform: linux/amd64
    container_name: laravel_queue3
    restart: unless-stopped
    working_dir: /var/www/html
    command: bash -lc "php artisan config:clear && php artisan cache:clear && php artisan queue:work --verbose --tries=3 --timeout=90"
    env_file:
      - .env
    environment:
      APP_NAME: Thari
      APP_ENV: local
      APP_DEBUG: true
      APP_URL: http://localhost:9958
      DB_CONNECTION: mysql
      DB_HOST: thari_mysql
      DB_PORT: 3306
      DB_DATABASE: saifsyn
      DB_USERNAME: root
      DB_PASSWORD: strongpassword
      REDIS_HOST: thari_redis
      SOCKET_URL: http://thari_socket_server:3015
    volumes:
      - .:/var/www/html
    depends_on:
      thari_mysql:
        condition: service_healthy
      app:
        condition: service_started

  # MySQL
  thari_mysql:
    image: mysql:8.0
    container_name: thari_mysql
    restart: always
    environment:
      MYSQL_DATABASE: saifsyn
      MYSQL_ROOT_PASSWORD: strongpassword
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 30s
      timeout: 10s
      retries: 5

  # Redis
  thari_redis:
    image: redis:alpine
    container_name: thari_redis
    restart: always
    ports:
      - "6379:6379"

  # Socket.IO Server
  thari_socket_server:
    image: node:18
    container_name: thari_socket_server
    working_dir: /socket-server # <-- proper indentation
    volumes:
      - ./socket-server:/socket-server
    command: bash -c "npm install && npm run start"
    ports:
      - "3015:3015"
    restart: always

volumes:
  mysql_data:
